<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Página de informações sobre os autores do website">
		<meta name="keywords" content="perfil; sos; solução.">
		<meta name="author" content="Matheus Silvério e Nikolas Starke">
		<title>Sobre nós</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
	</head>
	<body>
		<aside>
			<input type="checkbox" id="check">
			<label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
			<div class="barra">
				<nav>
					<h4>SOS</h4>
					<h5>Soluções Domiciliares</h5>
					<a href="/"><div class="link">Home</div></a>
					<a href="/perfil"><div class="link">Perfil</div></a>
					<a href="/tutoriais"><div class="link">Tutoriais</div></a>
					<a href="/contato"><div class="link">Contato</div></a>
					<a href="/aboutus"><div class="link">Sobre nós</div></a>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
				</nav>
			</div>
		</aside>
		<h3 class="cinza">Sobre nós</h3></a>
		<div class="cardnikolas">
			<img class="cards" src="/static/img/icons/prof.png" alt="Nikolas">
			<h1>Nikolas</h1>
			<div>
				<p class="title">Estudante, 18 anos</p>
				<p class="sub">Instituto Federal Catarinense</p>
			</div>
			<div>
				<a class="cards" href="https://www.facebook.com/"><img class="socialmedia" src="/static/img/icons/facebook.png" alt="RedeSocial"></a> 
				<a class="cards" href="https://twitter.com/"><img class="socialmedia" src="/static/img/icons/twitter.png" alt="RedeSocial"></a> 
				<a class="cards" href="https://www.instagram.com/"><img class="socialmedia" src="/static/img/icons/insta.png" alt="RedeSocial"></a>
			</div> 
		</div>
		<div class="card">
			<img class="cards" src="/static/img/icons/prof.png" alt="Matheus">
			<h1>Matheus</h1>
			<div>
				<p class="title">Estudante, 17 anos</p>
				<p class="sub">Instituto Federal Catarinense</p>
			</div>
			<div>
				<a class="cards" href="https://www.facebook.com/"><img class="socialmedia" src="/static/img/icons/facebook.png" alt="RedeSocial"></a> 
				<a class="cards" href="https://twitter.com/"><img class="socialmedia" src="/static/img/icons/twitter.png" alt="RedeSocial"></a> 
				<a class="cards" href="https://www.instagram.com/"><img class="socialmedia" src="/static/img/icons/insta.png" alt="RedeSocial"></a>
			</div> 
		</div>
		
	</body>
</html>