<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Login</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>
    
        <!--Conteúdo específico da página-->
        <h3 class="cinza">Editar informações</h3>
        <br><br><br><br>
        <div class="duvidas">
            <form action="/editar_informacoes">
                <fieldset><br><br>
                    <label class="duvidas">Nome de usuário: </label><br>
                        <input value="{{usuario[0].nome}}" name="nome" class="text" type="text" required size="70" placeholder="    Ex.: nikolasstarke" autofocus><br><br>
                    <label class="duvidas">Data de nascimento: </label><br>
                        <input value="{{usuario[0].nascimento}}" name="nascimento" class="text" type="text" required size="70" placeholder="    Ex.: 18 anos" maxlength="2"><br><br>
                    <label class="duvidas">Telefone: </label><br>
                        <input value="{{usuario[0].telefone}}" name="tel" class="text" type="text" required size="70" placeholder="    Ex.: 4799123456" maxlength="11"><br><br>
                    <label class="duvidas">Endereço: </label><br>
                        <input value="{{usuario[0].endereco}}" name="end" class="text" type="text" required size="70" placeholder="    Ex.: Rua Quintino Bocaiúva, nº 132, apto 6, Quintino, Timbó - SC"><br><br>
                    <label class="duvidas">Email: </label><br>
                        <input value="{{usuario[0].email}}" name="email" class="text" type="text" required size="70" placeholder="    Ex.: nikolasstarke22@gmail.com"><br><br>
                    <label class="duvidas">Senha: </label><br>
                        <input name="senha" class="text" type="password" size="70" ><br><br>
                    <label class="duvidas">Confirme a senha: </label><br>
                        <input name="confsenha" class="text" type="password" size="70" ><br><br>
                        <input name="vaziu" type="hidden">
                    
                    <div class="center3">
                        <input class="buttom" type="submit" value="Enviar">
                    </div><br><br>
                    
                </fieldset>
            </form>
        </div>    

    </body>
</html>