<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como trocar uma lâmpada</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="design_aboutus.css">
        <link rel="stylesheet" type="text/css" href="menulateral.css">
        <link rel="stylesheet" type="text/css" href="modelo.css">
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Como trocar uma lâmpada queimada</Table></h3>
        <img class="imgtutorial" src="img/tutoriais/tutorial4/trocarlampada.png" alt="Umidade">

        <div class="passos">
            <p class="passos">Nem sempre estamos preparados para resolver pequenos reparos domésticos, como por exemplo, uma lâmpada queimada. Você está sozinho (a) em casa e a lâmpada de repente se apaga. Nessa hora, é fundamental saber como trocá-la de maneira simples e prática. Siga o nosso passo a passo e não tenha mais dúvidas quando isso acontecer:</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Passo 1:</h4>
            <img class="passos" src="img/tutoriais/tutorial4/desligandointerruptor.png">
            <p class="passos" id="comimg">Para que não haja problema com choques elétricos, procure desligar o interruptor e o disjuntor.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Verifique a voltagem da lâmpada que deve ser trocada. Tenha sempre algumas reservas guardadas em casa.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <img class="passos" src="img/tutoriais/tutorial4/pesdescalcos.png">
            <p class="passos" id="comimg">Se não alcançar, pegue uma escada ou uma cadeira. Nunca faça esse serviço com os pés descalços.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <img class="passos" src="img/tutoriais/tutorial4/girarlampada.png">
            <p class="passos" id="comimg">Gire a lâmpada com cuidado no sentido anti-horário. Mas cuidado para não se queimar! Caso ela ainda esteja quente, aguarde alguns minutos até que ela esfrie completamente.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 5:</h4>
            <p class="passos">Para retirá-la, não toque na rosca ou na parte metálica.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 6:</h4>
            <p class="passos">Pegue a lâmpada nova (com a mesma voltagem e potência) e coloque-a no bocal, girando-a no sentido horário até o final, ou seja, até sentir que ela ficou firme.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 7:</h4>
            <img class="passos" src="img/tutoriais/tutorial4/ligarinterruptor.png">
            <p class="passos" id="comimg">Pronto. Já pode religar o disjuntor no quadro de luz e o interruptor para testar o serviço.</p>
        </div>
        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://blog.doutorresolve.com.br/2016/01/como-trocar-uma-lampada-queimada/">Veja a referência</a></p>
        </div>
    </body>
</html>
