<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como consertar trincas e rachaduras de paredes</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Como consertar trincas e rachaduras de paredes</h3>
        <img class="imgtutorial" src="/static/img/tutoriais/tutorial9/rachadura.png" alt="rachadura">

        <div class="passos">
            <h4 class="passos">PEQUENAS FISSURAS NA PAREDE:</h4>
            <h4 class="passos">Solução 1:</h4>
            <p class="passos">Para pequenas fissuras, a solução tradicional é retocar o reboco usando argamassa ou massa acrílica, mas as fissuras podem reaparecer.</p>
        </div>

        <div class="passos">
                <h4 class="passos">Solução 2:</h4>
                <img class="passos" src="/static/img/tutoriais/tutorial9/cola.jpg" alt="cola">
                <p class="passos" id="comimg">Outra alternativa é passar tinta elastomérica pura na região e depois aplicar duas ou três demãos do mesmo produto, diluído conforme indicação do fabricante.</p>
        </div>
        <div class="passos">
            <br><br><br>
            <h4 class="passos">Reparar pequenas trincas (não estruturais)</h4>
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Abra a trinca 2 cm para cada lado e aproximadamente 1 cm de profundidade;</p>
        </div>

        <div class="passos">
                <h4 class="passos">Passo 2:</h4>
                <p class="passos">Cole ou grampeie uma telinha de nylon (ou similar);</p>
        </div>
        <div class="passos">
                <h4 class="passos">Passo 3:</h4>
                <p class="passos">Prepare uma argamassa com cimento, cal e areia na proporção 1:2:8;</p>
        </div>


        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Adicione cola branca à água na proporção de 1:3 (cola:água); </p>
        </div>
    
        <div class="passos">
            <h4 class="passos">Passo 5:</h4>
            <img class="passos" src="/static/img/tutoriais/tutorial9/luva.jpg" alt="luva">
            <p class="passos">Preencha a trinca aberta com a mistura e faça o acabamento.</p>
        </div>
        <div class="passos">
            <h4 class="passos">CORRIGIR PEQUENAS FENDAS</h4>
            <p class="passos">Materiais necessários:</p>
            <br>
            <p class="passos">Colher de pedreiro;</p>
            <p class="passos">Desempenadeira de madeira;</p>
            <p class="passos">Chave de fenda + Pincel;</p>
            <p class="passos">Espátula + Balde para argamassa;</p>
            <p class="passos">Lixa p/massa n° 100;</p>
            <p class="passos">Lixa p/madeira no 60 ou 80;</p>
            <p class="passos">Plásticos;</p>
            <p class="passos">Massa corrida PVA ou acrílica;</p>
            <p class="passos">Cimento;</p>
            <p class="passos">Areia;</p>
            <p class="passos">Água.</p>
        <br>
            <p class="passos">Passo-a-passo para consertar as fendas ou rachaduras maiores nas paredes. Estas correções nas paredes são necessárias a fim de evitar o esfarelamento da parede e ao mesmo tempo deixar a superfície pronta para uma eventual pintura.</p>
            Antes de iniciar os trabalhos cubra o chão com plásticos;
        </div>
        <div class="passos">
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Inicialmente, você deverá passar uma chave de fenda na rachadura ou fenda, afim de abri-la o suficiente para futura aplicação da massa corrida;</p>
        </div>

        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Em seguida, limpe o local com um pincel seco;</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Aplique a massa corrida PVA (para interiores) ou massa acrílica para (exteriores) com o auxílio de uma espátula;</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Deixe secar por aproximadamente 3 horas;</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 5:</h4>
            <p class="passos">Em seguida, lixe com uma lixa para massa nº 100 até regularizar a superfície, retire o pó;</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 6:</h4>
            <p class="passos">Pronto , a superfície está preparada para ser pintada.</p>
        </div>    
        <div class="passos">
            <h4 class="passos">COMO CORRIGIR BURACOS GRANDES NA PAREDE:</h4>
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Neste caso, você deve utilizar uma espátula para raspar o local (buraco), até se chegar a parte sólida da parede (ex:tijolo,bloco,etc.).</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Em seguida, limpe o buraco com um pincel seco para retirar o material solto e o pó.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Umedeça ligeiramente o local com água, aplique a argamassa com uma colher de pedreiro em pequenas camadas, deixando secar bem cada uma.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Na última camada, nivele a argamassa aplicada com uma desempenadeira de madeira umedecida, em movimentos circulares. Observação: Argamassa é a mistura de cimento, areia e água.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 5:</h4>
            <p class="passos">Deixe secar bem a argamassa.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 6:</h4>
            <p class="passos">           O tempo normal para curar a argamassa de grandes superfícies é de 30 dias, entretanto, para superfícies pequenas, basta 5 a 10 dias, desde que a ventilação do ambiente e as condições do tempo sejam boas.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 7:</h4>
            <p class="passos">Após a secagem da argamassa, lixe e aplique a massa corrida.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 8:</h4>
            <p class="passos">A superfície estará pronta para ser pintada.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Importante</h4>
            <p class="passos">Algumas trincas são superficiais e atingem apenas o reboco. Nestes casos o reparo ou conserto é importante para proteger o interior da construção de umidade ou agentes químicos e claro, para melhorar a estética e beleza da construção.</p>
        </div>

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="http://www.guiadaobra.net/forum/viewtopic.php?t=2691">Veja a referência</a></p>
        </div>
    </body>
</html>
