<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Tutoriais</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>
        
        <!--Conteúdo específico da página-->
        <h3 class="cinza">Tutoriais</h3></a>
        <div class="tutoriais">
            <a href="/tutorial1"><img src="/static/img/tutoriais/covers/1.JPG" alt="foto"></a>
            <a href="/tutorial2"><img src="/static/img/tutoriais/covers/2.JPG" alt="foto"></a>
            <a href="/tutorial3"><img src="/static/img/tutoriais/covers/3.JPG" alt="foto"></a>
            <a href="/tutorial4"><img src="/static/img/tutoriais/covers/4.JPG" alt="foto"></a>
            <a href="/tutorial5"><img src="/static/img/tutoriais/covers/5.JPG" alt="foto"></a>
            <a href="/tutorial6"><img src="/static/img/tutoriais/covers/6.JPG" alt="foto"></a>
            <a href="/tutorial7"><img src="/static/img/tutoriais/covers/7.JPG" alt="foto"></a>
            <a href="/tutorial8"><img src="/static/img/tutoriais/covers/8.JPG" alt="foto"></a>
            <a href="/tutorial9"><img src="/static/img/tutoriais/covers/9.JPG" alt="foto"></a>
            <a href="/tutorial10"><img src="/static/img/tutoriais/covers/10.JPG" alt="foto"></a>
            <a href="/tutorial11"><img src="/static/img/tutoriais/covers/11.JPG" alt="foto"></a>
            <a href="/tutorial12"><img src="/static/img/tutoriais/covers/12.JPG" alt="foto"></a>
        </div>

    </body>
</html>
