<!--com py-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como desentupir o vaso</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>
        
        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        <h3 class="cinza" id="tutorial">Dicas para desentupir um vaso</h3>
        <img class="imgtutorial" src="/static/img/tutoriais/tutorial1/desentupirvaso.png" alt="Desentupir vaso">
        <div class="passos">
            <h4 class="passos">Bata na parte de trás da bacia</h4>
            <p class="passos">Use um sapato, por exemplo, e bata com força na parte traseira da bacia. Claro, sempre com cuidado para não quebrá-la. Muitas vezes isso é o suficiente para resolver casos de entupimentos menores. </p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Jogue água fervente no vaso</h4>
            <p class="passos">Despeje um balde de água bem quente dentro do vaso sanitário. Provavelmente será necessário usar no mínimo dois baldes para resolver o entupimento. Despeje a água rapidamente, mas sempre tomando cuidado para não se queimar (com a água quente) e nem molhar muito o chão. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Jogue água sanitária no vaso</h4>
            <p class="passos">Uma das primeiras tentativas válidas é jogar um pouco de água sanitária no vaso, esperar cerca de 3 horas e depois dar descarga. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Jogue vinagre e bicarbonato de sódio no vaso</h4>
            <p class="passos">Misture ½ copo de bicarbonato com ½ copo de vinagre e jogue diretamente no vaso sanitário. Esta é uma solução caseira que muitas vezes traz bons resultados. Porém, se não der certo, você terá que partir para outro método. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Jogue detergente e água no vaso</h4>
            <p class="passos">Dilua um pouco de detergente em água fervente e jogue a mistura no vaso sanitário. Dê descarga em seguida, observando se o entupimento foi solucionado. Você pode repetir o processo até três vezes. Caso observe que não deu mesmo certo, tente outro método.  </p>
        </div>

        <div class="passos">
            <h4 class="passos">Use um desentupidor</h4>
            <p class="passos">A maneira mais indicada é usar o desentupidor e dar descarga simultaneamente. Para isso, é necessário que haja uma boa quantidade de água dentro do vaso. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Use soda cáustica, se necessário</h4>
            <p class="passos">Use soda cáustica apenas se outros métodos não tiverem surtido efeito. Tome muito cuidado para não manter contato direto com o produto, por isso, use luvas e óculos durante o processo. </p>
            <p class="passos">Em um balde cheio de água, coloque 2 colheres (sopa) de soda cáustica e 2 colheres (sopa) de sal. Despeje o conteúdo do balde no vaso. Não repita esse procedimento com frequência, aliás, evite-o. </p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Jogue Coca-Cola no vaso sanitário </h4>
            <p class="passos">Jogue o conteúdo de uma garrafa de 2 litros de Coca-Cola na privada e dê descarga. O refrigerante vai servir como substituto da soda cáustica e provavelmente vai dissolver os detritos que estiverem obstruindo a passagem de água. </p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Tente dar descarga vedando completamente a entrada de ar </h4>
            <p class="passos">Cubra o assento do vaso com um saco de lixo ou com papel filme. Certifique-se de que não restou nenhum espaço aberto para a passagem de ar. Depois, feche a tampa, sente-se ou se ajoelhe em cima da tampa do vaso e acione a descarga por cerca de 30 segundos. </p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Chame um profissional</h4>
            <p class="passos">Se não conseguir mesmo desentupir o vaso sanitário com alguma das soluções caseiras, é melhor não ficar insistindo – o que pode acabar piorando o entupimento. O ideal é procurar imediatamente uma empresa ou um profissional especializado para desentupir o vaso sanitário.</p>
        </div>
        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://desentupidoraemportoalegre.mxsites.com.br/10-dicas-para-desentupir-o-vaso-sanitario/">Veja a referência</a></p>
        </div>
    </body>
</html>
