<!--com py-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de tutorial">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como consertar uma máquina de lavar com vazamento</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>
        
        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        <h3 class="cinza" id="tutorial">Como consertar uma máquina de lavar com vazamento</h3>
        <img class="imgtutorial" src="img/tutoriais/tutorial6/maquinalavar.jpg" alt="Máquina">


        <div class="passos">
            <p class="passos">Uma poça de água anda aparecendo na sua área de serviço toda vez que você usa a máquina de lavar roupa? Se ela está vazando, pode ser por causa de uma mangueira velha demais, uma bomba com vazamento ou excesso de espuma. Por sorte, todos esses problemas podem ser resolvidos de maneira simples. Confira as informações abaixo para resolução do empecilho.</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">MÉTODO 1: Descobrindo a fonte do vazamento</h4>
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Confira se a máquina está sobre uma superfície nivelada. É preciso saber de onde está vindo o vazamento. Se a máquina não está nivelada (e portanto inclinada mais para um lado ou para a frente, etc), a água escorregará e será mais difícil descobrir de onde vindo o vazamento.</p>
        </div>

        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Confira se as soluções mais simples podem corrigir o seu problema. Antes de gastar dinheiro comprando mangueiras ou juntas novas, veja se a causa do vazamento não pode ser corrigido mais facilmente. Leia o manual da máquina para verificar se você está usando a mesma de forma correta. Aqui vão alguns problemas de solução fácil:</p>
            <p class="passos">- Roupas demais ou mal-distribuídas. Se você coloca mais roupas do que a capacidade máxima da máquina, pode haver vazamentos. Outra causa costuma ser um desnível na água devido às roupas mais pesadas estarem de um lado só, fazendo com que a máquina balance demais durante a centrifugação, ocasionando vazamentos.</p>
            <p class="passos">-	O hábito de aumentar o tempo do ciclo de enxágue, interrompendo o mesmo. Se a sua máquina possui um ciclo de enxágue em spray, aumentar a sua duração faz com que o spray fique em ação por mais tempo do que o devido, causando vazamentos.</p>
            <p class="passos">-	Confira se você tirou o ralo que vem de fábrica. Se a sua máquina ainda é nova, ela vem com um ralo de fábrica que precisa ser tirado antes de encaixar a mangueira. Se a máquina for ligada com o ralo de fábrica, a água do ciclo não será devidamente escoada, causando vazamentos.</p>
            <p class="passos">-	Confira se a mangueira está encaixada firmemente na saída de escoamento. Se o encaixe não for adequado, pode haver vazamentos.</p>
            <p class="passos">-	Confira se o ralo não está entupido. Às vezes, não é a máquina que está vazando; é o ralo que está entupido e fazendo com que a água volte. Procure desobstruir o ralo antes de partir para consertos mais complicados.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Verifique se não há excesso de sabão na água. O excesso pode fazer com que a água transborde. Em outros casos, o usuário da máquina põe a quantidade de sabão indicada pelo fabricante, mas a composição química da água da região reage com o sabão, causando o excesso de espuma. Nesse caso, basta usar menos sabão.</p>
            <p class="passos">-	Para saber se você está usando sabão demais, rode o ciclo de lavagem como de costume. Ao retirar a roupa da máquina, pegue uma peça e coloque em uma tigela com água. Torça a peça. Se a água ficar com espuma, é sinal de que ainda há sabão e que você pode estar usando sabão demais.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Observe um ciclo de lavagem e veja de onde está vindo o vazamento. Essa é a forma mais comum de identificar a fonte do vazamento.</p>
            <p class="passos">-	Em máquinas com abertura na frente, o vazamento geralmente é causado por um cano entupido ou a parte de vedação mal encaixada da porta.</p>
            <p class="passos">-	Vazamentos na parte de trás da máquina são comumente causados por mangueiras danificadas.</p>
            <p class="passos">-	Vazamentos na parte de baixo da máquina são frequentemente causados por um buraco na bomba ou vazamentos nas mangueiras internas.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 5:</h4>
            <p class="passos">Troque as peças geralmente responsáveis por vazamentos. Se você não conseguiu identificar com exatidão a fonte do vazamento e a sua máquina já está velha, a troca ou reparos nas peças que mais causam vazamentos pode ser a solução. Com o passar do tempo, as peças da máquina vão ficando obstruídas ou perdem a elasticidade, causando vazamentos. Como as peças terão que ser trocadas de qualquer maneira, aproveite para fazer a substituição e, de quebra, resolver o vazamento!</p>
            <p class="passos">-	Caso não queira trocar as peças de uma só vez, troque a que é a causa mais provável ou comum. Rode o ciclo normalmente para ver se continua vazando. Se o problema persistir, substitua outra peça e então rode outro ciclo, e assim por diante, até que o problema seja resolvido ou que todas as peças que são causas comuns de vazamentos tenham sido trocadas.</p>
            <p class="passos">-	Se mesmo depois de trocar todas as peças o vazamento persistir, contate o fabricante para que ele possa indicar um profissional qualificado que possa ajudar a solucionar o problema.</p>
        </div>
        <div class="passos">
            <h4 class="passos">MÉTODO 2: Consertos de rotina</h4>
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Desligue a máquina da tomada. Esta é a medida mais básica de segurança para evitar acidentes.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Verifique e conserte as mangueiras. Elas se encontram na parte de trás da máquina e é através delas que a água da torneira chega até a máquina. Quando estão danificadas, elas normalmente causam vazamentos na parte de trás.</p>
            <p class="passos">-	Feche a válvula de água da área de serviço onde está a máquina.</p>
            <p class="passos">-	Remova as mangueiras usando um alicate.</p>
            <p class="passos">-	Examine as mangueiras. Se elas parecem já desgastadas e corroídas, elas precisam ser trocada</p>
            <p class="passos">-	Se as mangueiras ainda estão em boas condições de uso, troque as arruelas internas. Conforme a máquina envelhece, ela perde elasticidade e suas peças já não encaixam tão bem.</p>
            <p class="passos">-	Confira se todas as partes encaixadas estão firmes antes de usar a máquina novamente.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Verifique e troque as mangueiras internas. Elas também podem ficar desgastadas e corroídas, precisando de trocas de tempos em tempos. É preciso abrir a cabine ou o painel da parte de trás da máquina, soltando os parafusos.</p>
            <p class="passos">-	Veja se não há mangueiras desgastadas, corroídas ou rachadas, além de braçadeiras enferrujadas.</p>
            <p class="passos">-	Para retirar a mangueira, use um alicate para apertar a braçadeira e deslizar a mangueira por baixo.</p>
            <p class="passos">-	Substitua as mangueiras e braçadeiras antigas por peças novas.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Verifique se a bomba não está vazando. A bomba leva a água da tina (o corpo da máquina) até o ralo. Ela é composta de vedações internas que se desgastam com o tempo, causando vazamentos. Caso ela esteja manchada ou enferrujada, é hora de trocá-la.</p>
            <p class="passos">-	Compre a bomba correta para a sua máquina (levando em conta a marca, o modelo e a capacidade da máquina).</p>
            <p class="passos">-	Abra a cabine da sua máquina.</p>
            <p class="passos">-	Solte os parafusos que seguram o motor.</p>
            <p class="passos">-	Desconecte as mangueiras da bomba e tire os parafusos para retirá-la da máquina. Encaixe a bomba nova.</p>
        </div>

        <!--
        <video width="600" height="375" controls>
            <source src="{{url_for('static', filename = 'videos/piavideo.mp4')}}" type="video/mp4" >
        </video>-->

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://pt.wikihow.com/Consertar-Uma-M%C3%A1quina-de-Lavar-com-Vazamento">Veja a referência</a></p>
        </div>
    </body>
</html>
