<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como consertar o seu micro-ondas</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Como consertar o seu micro-ondas</Table></h3>
        <img class="imgtutorial" src="static/img/tutoriais/tutorial8/microondas.jpg" alt="micro-ondas">

        <div class="passos">
                <h4 class="passos">Passo 1: Trocando o fusível</h4>
                <p class="passos">Tecnicamente, o fusível é um dispositivo de segurança que tem a função de cortar o fluxo de uma corrente elétrica quando ela é muito intensa. Esse corte é o que vai proteger a instalação de sofrer um curto-circuito. Portanto, caso o seu micro-ondas não esteja ligando, a primeira coisa que você deve verificar é o fusível.</p>
                <p class="passos">Para encontrá-lo, retire o gabinete externo do equipamento e siga o cabo de alimentação da unidade, que levará ao invólucro de vidro que abriga o fusível. Remova a peça e, então, vá até uma loja de eletrônicos para comprar outra idêntica à original. Se você tiver o manual do aparelho, é muito provável que o tipo de fusível do seu micro-ondas também esteja descrito ali.</p>
                <p class="passos">Adquirida a nova peça, basta realizar a troca normalmente, recolocando o gabinete e religando o aparelho para testar. Se, no momento em que você for verificar o fusível, ele estiver em perfeitas condições (com as lâminas intactas), o problema pode ser outro: o interruptor da porta.</p>
                <p class="passos">Nesse caso, para testá-lo, é necessário retirar a capa protetora externa do eletrodoméstico e o painel frontal. Depois, verifique a mola e a trava do interruptor para ver se as peças estão encaixando perfeitamente na porta. Em caso negativo, substitua-as por modelos idênticos.</p>
        </div>
        <div class="passos">
                <h4 class="passos">Passo 2: Verificando a plataforma giratória</h4>
                <p class="passos">Esse é outro problema bastante comum quando o assunto é o conserto de micro-ondas. Afinal, a plataforma giratória é uma das peças que mais dá defeito no equipamento. Contudo, antes de trocá-la, verifique se a guia está alinhada de forma correta ou se há restos de comida presos a ela, o que poderia comprometer seu funcionamento.</p>
                <p class="passos">Realizar essa tarefa é bem simples: basta retirar a bandeja da plataforma e fazer a lavagem normalmente, com água morna e detergente neutro. Limpe também a parte interna do aparelho, com atenção especial à cavidade da plataforma giratória e às rodinhas nas quais ela se encaixa.</p>
                <p class="passos">Recoloque a bandeja e teste o micro-ondas.</p>                
        </div>

        <div class="passos">
                <h4 class="passos">Passo 3: Substituindo o diodo de potência</h4>
                <p class="passos">Seu micro-ondas não está aquecendo como devia ou você percebeu um barulho estranho durante o funcionamento do aparelho? Esses podem ser sinais de defeito no diodo de potência. Estamos falando de nada mais do que o componente eletrônico por onde passa a corrente elétrica em uma única direção, enquanto o fluxo contrário é bloqueado.</p>
                <p class="passos">Para trocá-lo, é preciso descarregar o capacitor do micro-ondas e substituir o diodo defeituoso por um novo. O encaixe é simples e feito por pressão, sem a necessidade de soldas. Mas não se esqueça: jamais pressione a peça com muita força no encaixe, pois isso pode ocasionar contratempos imediatos ou futuros nos conectores.</p>
        </div>
        <div class="passos">
                <h4 class="passos">Passo 4: Conferindo o interior do aparelho</h4>
                <p class="passos">Quando se trata do conserto de micro-ondas, alguns defeitos são tão banais que, muitas vezes, nem precisamos de muito esforço para resolvê-los. Sabe quando você liga o equipamento e nota a presença de pequenas faíscas? Pois é. A gente se assusta e já vai logo pensando que o problema é grave, o que nem sempre é verdade.</p>
                <p class="passos">Esse defeito pode aparecer simplesmente por conta de restos de comida que ficaram no interior do aparelho e continuam cozinhando entre um uso e outro. Isso vale também para aqueles respingos nas paredes do micro-ondas que, às vezes, nos esquecemos de limpar.</p>
                <p class="passos">Portanto, fazer uma limpeza completa e regular é o primeiro passo para evitar tal tipo de problema. Se você leva uma rotina agitada e não sobra muito tempo para cuidar desses detalhes, não hesite em contratar uma diarista para ajudar naqueles dias de faxina completa. Com uma higienização regular, certamente a vida útil de seus eletrodomésticos será preservada.</p>
        </div>


        <div class="passos">
            <h4 class="passos">Passo 5: Trocando a lâmpada</h4>
            <p class="passos">A troca de lâmpadas não tem segredo. Como dissemos no início deste artigo, esse nem é considerado propriamente um defeito. Se a peça queimou, mas o micro-ondas funciona normalmente, basta trocá-la para facilitar a usabilidade do aparelho. Para tanto, adquira uma nova lâmpada em uma loja especializada e siga o passo a passo abaixo:</p>
            <p class="passos">- desligue o micro-ondas da tomada ou a caixa de energia;</p>
            <p class="passos">- localize os parafusos no painel de ventilação e remova-os;</p>
            <p class="passos">- retire o painel e identifique a caixa de iluminação;</p>
            <p class="passos">- remova a tampa da caixa e realize a troca da lâmpada;</p>
            <p class="passos">- recoloque a tampa e os parafusos;</p>
            <p class="passos">- religue o micro-ondas na tomada e teste o aparelho normalmente.</p>
        </div>

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://www.triider.com.br/blog/como-consertar-micro-ondas/">Veja a referência</a></p>
        </div>
    </body>
</html>
