<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como trocar a fechadura</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="design_aboutus.css">
        <link rel="stylesheet" type="text/css" href="menulateral.css">
        <link rel="stylesheet" type="text/css" href="modelo.css">
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Como trocar a fechadura</Table></h3>
        <img class="imgtutorial" src="img/tutoriais/tutorial5/fechadura.jpg" alt="Umidade">

        <div class="passos">
            <p class="passos">De todos os detalhes da casa, a fechadura é um dos que mais necessitam de atenção, principalmente quando é levada em conta a sua grande utilidade para a segurança do local. Ao mesmo tempo, muitas pessoas têm dificuldades com ela, seja com a chave arranhando, problemas para girar ou até mesmo o miolo frouxo. Por esse motivo, saber como consertar fechadura é extremamente útil para a manutenção no dia a dia.</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Procedimento</h4>
            <img class="passos" src="img/tutoriais/tutorial5/desmontarfechadura.jpg">
            <p class="passos" id="comimg">Com o auxílio de uma chave de fenda, desparafuse a placa metálica que prende a fechadura junto à porta e comece retirando as maçanetas. Geralmente elas estão unidas por uma mola ou cavilha. Quando todos os itens estiverem frouxos, retire a peça com cuidado — se for preciso, utilize a chave para empurrá-la.</p>
            <p class="passos" id="comimg">Com a fechadura solta, abra a sua caixa e procure por danos. Veja se todas as molas estão corretas, se não há excesso de produtos ou se as peças não estão gastas. Se achar necessário, faça mais uma vez uma limpeza com um pano que não solta pelos.
                Coloque a fechadura no mesmo lugar e faça novamente o teste.
                </p>
        </div>
        <div class="passos">
            <h4 class="passos">Quais ferramentas são necessárias?</h4>
            <p class="passos">Para aplicar o lubrificante, você precisará dos seguintes itens:</p>
            <p class="passos">-	um pano de flanela, para limpar a fechadura;</p>
            <p class="passos">-	luvas, para evitar que o produto entre em contato com a sua pele;</p>
            <p class="passos">-	um tubo de pó de grafite;</p>
            <p class="passos">-	uma chave que pertença à fechadura em conserto;</p>
            <p class="passos">-	chave de fenda, caso precise desmontar a fechadura.</p>
            <p class="passos">Todas essas ferramentas podem ser encontradas facilmente em uma loja de materiais de construção. Se você já tiver uma chave de fenda em casa ou se não for necessário desmontar a fechadura, você desembolsará cerca de R$ 15 para realizar o conserto.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Como evitar que isso aconteça?</h4>
            <p class="passos">Agora que você já sabe o que é preciso fazer para arrumar aquela porta de casa que não abre, bem como as ferramentas essenciais para isso, você deve entender quais erros evitar para que as fechaduras parem de dar problemas e você não tenha que consertá-las novamente tão cedo. </p>
            <p class="passos">-	Faça uma manutenção regularmente;</p>
            <p class="passos">-	Nunca utilize chaves danificadas;</p>
            <p class="passos">-	Mantenha a fechadura limpa.</p>
        </div>

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://www.triider.com.br/blog/aprenda-como-consertar-fechadura/">Veja a referência</a></p>
        </div>
    </body>
</html>
