<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como acabar com a umidade</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="design_aboutus.css">
        <link rel="stylesheet" type="text/css" href="menulateral.css">
        <link rel="stylesheet" type="text/css" href="modelo.css">
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Métodos para diminuir a umidade em sua casa</h3>
        <img class="imgtutorial" src="/static/img/tutoriais/tutorial1/desentupirvaso.png" alt="Desentupir vaso">
        

        <div class="passos">
            <p class="passos">Quando aparece umidade na casa é uma dor de cabeça, pois precisa resolver o problema na hora. Afinal, a umidade é um dos fatores mais prejudiciais no caso de pessoas alérgicas e com problemas respiratórios, agravando a situação e dificultando a recuperação. Especialmente em épocas de chuva, torna-se importante manter sua casa arejada e livre de vapores.</p>
            <p class="passos">Embora, às vezes, possa parecer óbvio, nem todo o mundo sabe da existência de desumidificadores que podem ajudar a remover a umidade nos lares. A verdade é que existem vários tipos de desumidificadores e entre eles tem que escolher o que melhor se adapta a sua casa. Ainda assim, todos se baseiam no mesmo princípio, diminuindo a umidade relativa do ar, mas, claro, que existe outros cuidados naturais para você manter sua casa protegida.</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Sistema de ar condicionado</h4>
            <img class="passos" src="img/tutoriais/tutorial3/arcondicionado.jpg">
            <p class="passos" id="comimg">Se você possui um sistema de ar condicionado em sua casa, procure deixar ligado na função desumidificador por algumas horas – todo equipamento possui esta função. Isso é importante fazer, pois o ar tira a umidade, além de ajudar sua casa ficar livre do mofo. Você não precisa fazer isso sempre, mas é aconselhável durante os dias chuvosos e quentes. Além disso, é fundamental também manter a limpeza periódica do ar condicionado. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Instale ventilação</h4>
            <img class="passos" src="img/tutoriais/tutorial3/ventilacao.png">
            <p class="passos" id="comimg">O banheiro é um dos principais afetados quando o assunto é a umidade. Geralmente, o teto fica escuro devido ao mofo. Outro problema são os rejuntes dos azulejos que também podem acumular fungos. A principal forma de evitar o aparecimento desses inquilinos é ventilar o ambiente. Depois do banho, abra a janela do banheiro para sair o vapor, assim como a porta.</p>
            <p class="passos" id="comimg">Com a chegada da época da chuva, a umidade fica mais presente nas casas com má ventilação, traduzindo-se em mau cheiro e água condensada por todas as partes. Por isso, o primeiro conselho é ventilar de forma adequada a sua casa, pois permite que o ar circule e que limpe e refresque cada espaço de sua casa, especialmente depois de fazer atividades que geram umidade como tomar banho ou cozinhar. </p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Aplique isolamento</h4>
            <img class="passos" src="img/tutoriais/tutorial3/isolamento.png">
            <p class="passos" id="comimg">A umidade não ocorre somente nos locais tradicionalmente úmidos, como banheiro e cozinha, como mencionado. Muitas residências sofrem com bolhas e mofo nas paredes das salas e dos quartos. Isso pode ocorrer devido à má impermeabilização no momento da construção, à pouca iluminação ou à falta de ventilação. Se as primeiras bolhas aparecerem, é possível estourá-las e pintar novamente a parede para manter mais um tempo em boas condições – um modo paliativo. Da mesma maneira, o mofo pode ser limpo com esponja, água e sabão neutro em primeira instância – não utilize produtos químicos porque pode-se manchar ainda mais o espaço. Caso o bolor fique impregnado ou as bolhas se multipliquem, é necessária uma intervenção mais drástica. </p>
            <p class="passos" id="comimg">Uma boa dica é usar texturas na parede, pois demoram mais a deixar a umidade tomar conta e, às vezes, duram por anos.</p>
        </div>

        <div class="passos">
            <h4 class="passos">Plantas da casa</h4>
            <img class="passos" src="img/tutoriais/tutorial3/planta.png">
            <p class="passos" id="comimg">Esse é o lema contra a umidade. Abra as janelas da casa e deixe o ar e o sol circular pelas peças pelo menos duas vezes por semana. Assim, há menos chances da umidade se acumular e de aparecerem bolhas, mofos e manchas em sua casa. Não deixe tudo fechado por estar frio. </p>
            <p class="passos" id="comimg">Para diminuir a umidade da casa, deixe portas e janelas abertas por algum tempo para ventilar os cômodos, depois feche e não abra mais para evitar a entrada de mais umidade. Esse hábito deve ser mantido nos dias mais úmidos, porém quando o tempo estiver mais seco, as janelas e portas podem permanecer abertas. </p>
        </div>

        <div class="passos">
            <h4 class="passos">Soluções naturais: Construir uma janela se necessário</h4>
            <img class="passos" src="img/tutoriais/tutorial3/janela.png">
            <p class="passos" id="comimg">Se quiser remover a umidade da sua casa, pode por em prática um truque muito simples que consiste em pendurar a roupa em lugares abertos ou exterior. Isto porque, depois da lavagem, deixar as roupas penduradas dentro de casa, fará com que aumente muito a umidade.</p>
            <p class="passos" id="comimg">Também se pode tornar útil uma secadora para evitar que a roupa úmida aumente o nível de umidade relativa dentro da sua casa. No entanto, tem que estar ciente que nem todas as peças de roupa podem ser secas desta forma. Evite fazer ambientes sem ventilação, ou seja, construa sempre uma janela para manter o espaço arejado.</p>
        </div>
        <!--
        <video width="600" height="375" controls>
                <source src="{{url_for('static', filename = 'videos/piavideo.mp4')}}" type="video/mp4" >
        </video>-->
        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://desentupidoraemportoalegre.mxsites.com.br/10-dicas-para-desentupir-o-vaso-sanitario/">Veja a referência</a></p>
        </div>
    </body>
</html>
