<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como desentupir uma pia</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/modelo.css') }}>
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        
        <h3 class="cinza" id="tutorial">Como desentupir uma pia</Table></h3>
        <img class="imgtutorial" src="/static/img/tutoriais/tutorial2/desentupirpia.jpg" alt="Desntupir pia">

        <div class="passos">
            <h4 class="passos">UTILIZANDO SODA CÁUSTICA:</h4>
            <p class="passos">A soda cáustica é um dos métodos mais utilizados e eficazes para desentupir pia principalmente quando o encanamento está entupido por causa de gordura, porém, é necessário tomar alguns cuidados para desentupir pia com soda cáustica sem piorar ainda mais a situação, por isso, confira o passo a posso logo abaixo.</p>
        </div>

        <div class="passos">
                <h4 class="passos">Passo 1:</h4>
                <p class="passos">Coloque meia xícara de soda cáustica na pia entupida.</p>
        </div>
        <div class="passos">
                <h4 class="passos">Passo 2:</h4>
                <p class="passos">Acrescente mais meia xícara de sal.</p>
        </div>

        <div class="passos">
                <h4 class="passos">Passo 3:</h4>
                <p class="passos">Despeje uma chaleira de água quente.</p>
        </div>
        <div class="passos">
                <h4 class="passos">Passo 4:</h4>
                <p class="passos">Deixe descansando desse modo durante uma noite inteira.</p>
        </div>


        <div class="passos">
            <h4 class="passos">UTILIZANDO SAL:</h4>
            <p class="passos">O sal é um alimento que todo mundo tem em casa e ele pode ser usado para muitas coisas além de temperar e conservar comidas, inclusive desentupir pias. </p>
        </div>
    
        <div class="passos">
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Coloque bastante sal no ralo da pia.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Derrame água fervendo sobre a pia</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Feche o ralo com auxílio de um pano, fazendo pressão, mas com cuidado para não obter uma queimadura.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Um barulho será emitido, sendo ele o da pia sendo desentupida.</p>
        </div>

        <div class="passos">
            <h4 class="passos">UTILIZANDO BICARBONATO:</h4>
            <p class="passos">Geralmente a pia da cozinha é a que mais entope devido aos restos de alimentos e gorduras que vão se acumulando no encanamento. E para se livrar definitivamente desse estresse será ensinado mais uma maneira de como desentupir pia. O bicarbonato também é outro item muito utilizado para essa função, então segue o passo a passo de como desentupir pia com bicarbonato.</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">Passo 1:</h4>
            <p class="passos">Coloque um copo com bicarbonato no ralo da pia.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 2:</h4>
            <p class="passos">Em seguida, coloque um copo de vinagre.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 3:</h4>
            <p class="passos">Utilize um pano para tapar o buraco do ralo e deixe-o assim por 30 minutos.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Passo 4:</h4>
            <p class="passos">Despeje água quente na pia</p>
        </div>    
        <div class="passos">
            <h4 class="passos">PREVENÇÃO PARA NÃO ENTUPIR A PIA:</h4>
            <p class="passos">Nunca derrame óleo no ralo da pia;</p>
            <p class="passos">Retire o excesso de gordura dos pratos, talheres e panelas com auxílio de um guardanapo antes de lavar a pia;</p>
            <p class="passos">Evite que alimentos entrem pelo ralo da pia.</p>
        </div>

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://www.vivadecora.com.br/revista/como-desentupir-pia/">Veja a referência</a></p>
        </div>
    </body>
</html>
