<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página de informações sobre os autores do website">
        <meta name="keywords" content="perfil; sos; solução.">
        <meta name="author" content="Matheus Silvério e Nikolas Starke">
        <title>Como desentupir canos</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="design_aboutus.css">
        <link rel="stylesheet" type="text/css" href="menulateral.css">
        <link rel="stylesheet" type="text/css" href="modelo.css">
    </head>
    <body>

        <!--Menu lateral-->
        <aside>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="/static/img/icons/iconmenu.png" alt="icone"></label>
            <div class="barra">
                <nav>
                    <h4>SOS</h4>
                    <h5>Soluções Domiciliares</h5>
                    <a href="/"><div class="link">Home</div></a>
                    <a href="/perfil"><div class="link">Perfil</div></a>
                    <a href="/tutoriais"><div class="link">Tutoriais</div></a>
                    <a href="/contato"><div class="link">Contato</div></a>
                    <a href="/aboutus"><div class="link">Sobre nós</div></a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6803485006353!2d-49.13928428522723!3d-26.88189508314086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1dc9344e104f%3A0x37e3f4a354ae9b76!2sInstituto+Federal+Catarinense+-+Campus+Blumenau!5e0!3m2!1spt-BR!2sbr!4v1507429576851" width="277" height="213" allowfullscreen ></iframe>
                </nav>
            </div>
        </aside>

        <!--Conteúdo específico da página-->
        <h3 class="cinza" id="tutorial">Como desentupir canos</Table></h3>
        <img class="imgtutorial" src="img/tutoriais/tutorial7/cano.png" alt="cano">


        <div class="passos">
            <p class="passos">Algo que toda residência tem um comum é o encanamento e algo que todo encanamento tem em comum são entupimentos. Entupimentos sempre acontecem uma vez ou outra e são até normais em certos níveis.</p>
        </div>
        
        <div class="passos">
            <h4 class="passos">O que NÃO fazer para desentupir canos</h4>
            <p class="passos">Antes de darmos dicas para desentupir seus canos, vamos começar falando sobre algumas coisas que devem ser evitadas ao tentar resolver o problema de entupimento da pia ou vaso sanitário.</p>
            <p class="passos">O que devemos sempre lembrar é que canos e tubulações são desenhadas para resistir a ação do tempo e de certos produtos, mas não são tão resistentes a ação humana, podendo facilmente quebrar se forçados ou batidos.</p>
            <p class="passos">Ao se deparar com um entupimento não tente enfiar cabos de vassoura ou outro objeto rígido que podem rachar ou quebrar os canos. Um cano quebrado exige muito mais trabalho e dinheiro para consertar do que um simples entupimento.</p>
            <p class="passos">Evite jogar produtos químicos dentro da tubulação, tudo que é jogado dentro do sistema de esgoto vai parar na estação de tratamento e pode prejudicar a qualidade da água e causar danos ao meio ambiente, sem contar que alguns produtos químicos podem danificar os canos.</p>
            <p class="passos">Apesar de ser uma dica dita como muito efetiva e prática, também evite usar soda cáustica para resolver obstruções no encanamento.</p>
            <p class="passos">A soda cáustica é um químico muito forte que quando não manuseada de forma correta pode causar queimaduras nas mãos e danificar os olhos.</p>
            <p class="passos">A soda cáustica pode também piorar o problema de obstrução pois pode ocorrer o efeito de saponificação entupindo ainda mais os canos e caixas de coleta.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Utilize bicarbonato de sódio e vinagre</h4>
            <p class="passos">Uma excelente forma de desentupir o seu encanamento sem precisar de muito esforço físico nem precisar desmontar o cano ou sifão é utilizando uma mistura de bicarbonato e vinagre.</p>
            <p class="passos">A mistura dos dois elementos causa uma forte efervescência que é capaz de desgrudar placas de gordura e outros dejetos que podem estar obstruindo o cano.</p>
            <p class="passos">Para realizar o desentupimento com esses produtos basta colocar 2 colheres de bicarbonato dentro do cano entupido e logo depois jogar vinagre. Quando a mistura começar a efervescer cubra o cano com um pano quente e deixe agir por 25 minutos. Logo após jogue água fervente para terminar o trabalho.</p>
            <p class="passos">Uma boa dica é substituir a água fervente por suco de limão quente, além de potencializar o efeito de desentupimento o suco de limão também deixa um cheiro agradável no ralo.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Água fervente e outros ingredientes </h4>
            <p class="passos">Água quente é uma grande aliada não só na prevenção dos entupimentos, mas é eficiente também na desobstrução de canos e ralos quando aliadas aos ingredientes corretos.</p>
            <p class="passos">Um bom exemplo de como solucionar o problema de cano entupido com água fervente é colocar duas colheres de fermento em pó e despejar a água quente logo em seguida, o efeito efervescente irá desobstruir o cano e liberar a sujeira grudada nas paredes do encanamento.</p>
            <p class="passos">Colocar detergente dentro do cano e depois água fervente resolve o problema de entupimento caso a pia e o sifão estejam sem água.</p>
            <p class="passos">Em alguns casos mais simples apenas a água quente é capaz de resolver o problema.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Um pedaço de arame pode resolver muitos problemas</h4>
            <p class="passos">Muitos entupimentos podem ser causados pelo acúmulo de objetos dentro do cano, isso acontece principalmente com ralos que facilmente são entupidos por fios de cabelo e outros objetos semelhantes.</p>
            <p class="passos">Quando o entupimento for causado por esse tipo de material, procure resolver com um simples pedaço de arame.</p>
            <p class="passos">Faça um ganchinho com uma das pontas do arame e enfie no ralo ou na pia do banheiro (lugares que mais sofrem com esse tipo de obstrução) e tente puxar o objeto para fora com movimentos leves e repetidos.</p>
            <p class="passos">É uma solução simples e prática, mas não funciona para qualquer caso. É preciso ter paciência se não der certo nas primeiras vezes.</p>
        </div>
        <div class="passos">
            <h4 class="passos">Sempre tenha um desentupidor em casa</h4>
            <p class="passos">Desentupidores são práticos e na sua grande maioria são baratos e fáceis de conseguir. Os desentupidores são ferramentas excelentes para resolver qualquer entupimento sem causar dano nenhum para o encanamento e peças adjacentes, sem contar que são ecologicamente corretos e fáceis de usar.</p>
            <p class="passos">Mesmo assim ainda existem algumas coisas que você pode fazer caso não tenha um desentupidor e esteja em uma situação de emergência.</p>
            <p class="passos">Uma excelente maneira de desentupir o vaso sanitário ou algum cano é cortar uma garrafa PET no meio e colocar um cabo de vassoura na boca da garrafa.</p>
            <p class="passos">Dessa forma simples você constrói um desentupidor caseiro, agora é só colocar a garrafa dentro do cano que quer desentupir ou então dentro da privada e “empurrar” a garrafa para dentro do cano. A pressão do ar feita pela garrafa através do movimento irá expulsar o objeto que está causando o entupimento.</p>
        </div>

        <br><br><br><br>
        <div class="passos">
            <p class="passos"><a href="https://www.desentupirja.com.br/as-5-melhores-dicas-para-desentupir-os-canos-da-sua-casa/">Veja a referência</a></p>
        </div>
    </body>
</html>
